<div class="container my-cont">
    <h1 class="text-center">Overwatch</h1>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>Skill Rank Boosting</ng-template>
            <skill-rank-boosting-tab></skill-rank-boosting-tab>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Duo Skill Rank Boosting</ng-template>
            <duo-skill-rank-boosting-tab></duo-skill-rank-boosting-tab>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Placement Games</ng-template>
            <placement-games-tab></placement-games-tab>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Account Leveling</ng-template>
            <account-leveling-tab></account-leveling-tab>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Anti Decay</ng-template>
            <anti-decay-tab></anti-decay-tab>
        </mat-tab>
    </mat-tab-group>
</div>