@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~nouislider/distribute/nouislider.min.css";
.navbar .btn-group .dropdown-menu a:hover {
    color : red !important;    
} 
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}
    
.navbar .btn-group .dropdown-menu a {
    color: black !important;
    opacity: 1;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

.nav-link {
    opacity: 1;
    font-family:  'Titillium Web', sans-serif;
    font-size: 20px;
    outline: 1px;
    margin-right: 100px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.my-cont {
    margin-top: 100px;
}

.my-text {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: darkred;
    margin-top: 20px;
}
@media (min-width: 1400px) {
    .container{
        max-width: 1200px;
    }
}
