<div class="container my-cont">
  <h1 class="text-center">League of Legends</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>Division Boosting</ng-template>
      <division-boosting-tab [Leagues]="Leagues" [Divisions]="Divisions" [leagueBoosting]="leagueBoosting"></division-boosting-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Placement Matches</ng-template>
      <placement-matches-tab [Leagues]="Leagues" [leaguePlacements]="leaguePlacements"></placement-matches-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Wins Boosting</ng-template>
      <wins-boosting-tab [Leagues]="Leagues" [Divisions]="Divisions" [leagueWins]="leagueWins"></wins-boosting-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Normal Matches</ng-template>
      <normal-matches-tab [leagueNormals]="leagueNormals"></normal-matches-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Account Leveling</ng-template>
      <account-leveling-tab [leagueLeveling]="leagueLeveling"></account-leveling-tab>
    </mat-tab>
  </mat-tab-group>
</div>