.mat-tab-group {
    
    width: 100%;
    box-shadow: 0 1px 1px 1px hsla(0,0%,81%,.2);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}

::ng-deep .mat-tab-group .mat-tab-label {
    opacity: 1;
    font-size: 20px;
}


.row-divisions {
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
}

.row-placement {
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 11.3%;
    width: 90%;
}

.row-normals {
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 10.4%;
    width: 90%;
}
::ng-deep .mat-form-field  {
    margin-left: 15px;
    
}

::ng-deep .mat-option  {
    color: black;
}   

::ng-deep  .mat-option:hover:not(.mat-option-disabled) {
    color: black;
    background-color: rgb(207, 88, 88);    

}   

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    color: black;
    background-color: rgba(255, 0, 34, 0.178);
}

::ng-deep .mat-slider {
    width: 100%;
    height: 10px;
    margin-top: 37%;
}

::ng-deep .normals-slider {
    width: 100%;
    height: 10px;
    margin-top: 20%;
}


.number-value {
    font-size: 10em;
    font-weight: 200;
    text-align: center;
    color: #673ab7;
}

.selection-field {
    margin-top: 30%; 
}