<div class="container">
  <div class="row row-divisions">
    <div class="col-3">
      <h3 class="text-center">Current Rank</h3>
      <img [src]="getImage(currContent, currLeague, currDiv)" class="img-fluids rounded mx-auto d-block">
      <div class="selection-field">
        <mat-form-field>
          <mat-select [(value)]="currLeague">
            <mat-option *ngFor="let league of Leagues" value="{{league.value}}" (click)="calcPrice()">
              {{league.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="currDiv">
            <mat-option *ngFor="let division of Divisions" value="{{division.value}}" (click)="calcPrice()">
              {{division.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <h4 class="text-center">Number of Wins</h4>
      <h1 class="number-value" color="primary">{{currAmount}}</h1>
      <wins-boosting-slider (changeAmount)="getAmount($event)"  [min]="min" [max]="max" [step]="step" [value]="value"></wins-boosting-slider>
    </div>
    <div class="col">
      <h1>Price: {{currPrice}}$
      </h1>
      <button mat-button>Click me!</button>
    </div>
  </div>
</div>