<title>Express server</title>
<h2>Express server</h2>
<ul>
    <h2>Games</h2>
    <li><a href="/api/games">Gamelist</a></li>
    <li><a href="/api/league-of-legends">League of legends</a></li>
</ul>

<hr>
<h2>League of Legends</h2>
<ul>
   <li><a href="api/league-of-legends/league-boosting">League Boosting</a></li>  
   <li><a href="api/league-of-legends/league-placements">League Placements</a></li>
   <li><a href="api/league-of-legends/league-wins">League Wins</a></li>
   <li><a href="api/league-of-legends/league-normals">League Normals</a></li>
   <li><a href="api/league-of-legends/league-leveling">League Leveling</a></li>
</u>