<div>
  <h1>Current: {{currentAmount}} </h1>
  <h1>Desired: {{desiredAmount}} </h1>
  <skill-rank-boosting-slider (currentAmount)="getCurrentAmount($event)" (desiredAmount)="getDesiredAmount($event)" [min]="min" [max]="max" [from]="from" [to]="to" 
  [type]="type" [from_min]="from_min" [from_max]="from_max" [to_min]="to_min" [to_max]="to_max" [hide_min_max]="hide_min_max" [hide_from_to]="hide_from_to"></skill-rank-boosting-slider>
</div>