<div> 
  <!-- <p>{{test}}</p> -->
  <ion-range-slider
  [type]="type"
  [min]="min"
  [max]="max"
  [from]="from"
  [from_min]="from_min"
  [from_max]="from_max"
  [from_shadow]="from_shadow"
  [to]="to"
  [to_min]="to_min"
  [to_max]="to_max"
  [to_shadow]="to_shadow"
  [grid]="grid"
  [grid_num]="grid_num"
  [prefix]="prefix"
  [postfix]="postfix"
  [hide_min_max] = "hide_min_max"
  [hide_from_to] = "hide_from_to"
  (onChange)="changeValue($event)"
  (onChange)="checkValues($event)">
 
</ion-range-slider>
</div>