<div class="container">
  <div class="row row-divisions">
    <div class="col-3">
      <h3 class="text-center">Current Rank</h3>
      <img [src]="getImage(currContent, currLeague, currDiv)" class="img-fluids rounded mx-auto d-block">
      <div class="selection-field">
        <mat-form-field>
          <mat-select [(value)]="currLeague">
            <mat-option *ngFor="let league of Leagues" value="{{league.value}}" (click)="calcLeagueBoosting()">
              {{league.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="currDiv">
            <mat-option *ngFor="let division of Divisions" value="{{division.value}}" (click)="calcLeagueBoosting()">{{division.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <h3 class="text-center">Desired Rank</h3>
      <img [src]="getImage(desContent, desLeague, desDiv)" class="img-fluids rounded mx-auto d-block">
      <div class="selection-field">
        <mat-form-field>
          <mat-select [(value)]="desLeague">
            <mat-option *ngFor="let league of Leagues" value="{{league.value}}" (click)="calcLeagueBoosting()">
              {{league.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="desDiv">
            <mat-option *ngFor="let division of Divisions" value="{{division.value}}" (click)="calcLeagueBoosting()">{{division.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <h1>Price: {{currvPrice}}$
      </h1>
      <button mat-button (click)="calcLeagueBoosting()">Click me!</button>
    </div>
  </div>
</div>
