<div class="container">
  <div class="row row-normals">
    <div class="col">
      <h4 class="text-center">Number of Wins</h4>
      <h1 class="number-value" color="primary">{{currAmount}}</h1>
      <normal-matches-slider (changeAmount)="getAmount($event)" [min]="min" [max]="max" [step]="step" [value]="value"></normal-matches-slider>
    </div>
    <div class="col">
      <h1>Price:
        <a>{{currPrice}}$</a>
      </h1>
      <button mat-button>Click me!</button>
    </div>
  </div>
</div>