<div class="fixed-sn">
  <div class="col-lg-14 ml-auto mr-auto">
      <mdb-carousel [interval]="interval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="activeSlideChange()">
        <mdb-slide *ngFor="let slide of slides; let index=index">
          <img class="d-block w-100" [src]="slide.image">
        </mdb-slide>
      </mdb-carousel>
  </div>
</div>
     