<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">
  
<!-- Navbar brand -->
<logo><a class="navbar-brand" routerLink="/">AwesomeBoosting</a></logo>

<!-- Collapsible content -->
<links>

<!-- Links -->
<ul class="navbar-nav mx-auto">
    <li class="nav-item btn-group" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle danger-color-dark" mdbRippleRadius>
        Games<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-danger" role="menu" >
            <a class="dropdown-item" mdbRippleRadius *ngFor="let game of games" routerLink="/games/{{game.link}}">{{game.name}}</a>
        </div>
    </li>
   <li class="nav-item btn-group">
       <a class="nav-link waves-light" mdbRippleRadius routerLink="jobs">Jobs</a>
   </li>
   <li class="nav-item">
       <a class="nav-link waves-dark-red" mdbRippleRadius routerLink="contact-us">Contact Us</a>
   </li>
   <li class="nav-item">
      <a class="nav-link waves-light" mdbRippleRadius routerLink="faq">FAQ</a>
   </li>

   <!-- Dropdown -->


</ul>
<!-- Links -->
</links>
<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->