<div class="container">
  <div class="my-text">
 <h1 class="h1-responsive"><u>AwesomeBoostin</u>g Features</h1>
 </div>
 <div class="my-cont">
   <div class="row">
     <div class="col">
        <img src="/content/main-content/best-price-icon.png" class="img-fluids rounded mx-auto d-block">
       </div>
    <div class="col">
        <h1 class="h1-responsive text-center">Best Prices</h1>
        <p class="text-center">Mr oh winding it enjoyed by between. The servants securing material goodness her. Saw principles themselves ten are possession. So endeavor to continue cheerful doubtful we to. Turned advice the set vanity why mutual. Reasonably if conviction on be unsatiable discretion apartments delightful. Are melancholy appearance stimulated occasional entreaties end. Shy ham had esteem happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she.</p> 
    </div>
   </div>
 </div>
  <div>
    <div class="my-cont">
    <div class="row">
      <div class="col">
          <h1 class="h1-responsive text-center">Fast</h1>
          <p class="text-center">Mr oh winding it enjoyed by between. The servants securing material goodness her. Saw principles themselves ten are possession. So endeavor to continue cheerful doubtful we to. Turned advice the set vanity why mutual. Reasonably if conviction on be unsatiable discretion apartments delightful. Are melancholy appearance stimulated occasional entreaties end. Shy ham had esteem happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she.</p> 
      </div>
      <div class="col">
        <img src="/content/main-content/fast.png" class="img-fluids rounded mx-auto d-block">
      </div>
    </div>
   </div>
  </div>
  <div class="my-cont">
    <div class="row">
      <div class="col">
          <img src="/content/main-content/safe.png" class="img-fluids rounded mx-auto d-block">
      </div>
      <div class="col">
          <h1 class="h1-responsive text-center">Safe</h1>
          <p class="text-center">Mr oh winding it enjoyed by between. The servants securing material goodness her. Saw principles themselves ten are possession. So endeavor to continue cheerful doubtful we to. Turned advice the set vanity why mutual. Reasonably if conviction on be unsatiable discretion apartments delightful. Are melancholy appearance stimulated occasional entreaties end. Shy ham had esteem happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she.</p> 
      </div>
    </div>
  </div>
  <div class="my-cont">
    <div class="row">
      <div class="col">
          <h1 class="h1-responsive text-center">Support Center</h1>
          <p class="text-center">Mr oh winding it enjoyed by between. The servants securing material goodness her. Saw principles themselves ten are possession. So endeavor to continue cheerful doubtful we to. Turned advice the set vanity why mutual. Reasonably if conviction on be unsatiable discretion apartments delightful. Are melancholy appearance stimulated occasional entreaties end. Shy ham had esteem happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she.</p>
      </div>
      <div class="col">
          <img src="/content/main-content/support.png" class="img-fluids rounded mx-auto d-block">
      </div>
    </div>
  </div>   
</div>