<!--Footer-->
<footer class="page-footer elegant-color-dark center-on-small-only">
    
        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">
    
                <!--First column-->
                <div class="col-md-3">
                    <h5 class="title">AweseBoosting</h5>
                    <p>Boosting, powerleveling, Gold Selling, Currency Selling service</p>
                </div>
                <!--/.First column-->
    
                <!--Second column-->
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <h5 class="title">Menu</h5>
                    <ul>
                        <li><a routerLink="jobs">Jobs</a></li>
                        <li><a routerLink="contact-us">Contact Us</a></li>
                        <li><a routerLink="faq">FAQ</a></li>
                    </ul>
                  </div>
                <div class="col-md-2">
                    <h5 class="title">Games</h5>
                    <ul>
                        <li *ngFor="let game of games"><a routerLink="{{game.link}}">{{game.name}}</a></li>
                    </ul>
                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="https://www.awesomeboosting.com"> Awesomeboosting.com </a>
    
            </div>
        </div>
        <!--/.Copyright-->
    
    </footer>
    <!--/.Footer-->