<div class="container">
  <div class="row row-placement">
    <div class="col-3">
      <h4 class="text-center">Last Season Rank</h4>
      <img [src]="getImage(currContent, currLeague, currDiv)" class="img-fluids rounded mx-auto d-block">
      <div class="selection-field">
        <mat-form-field>
          <mat-select [(value)]="currLeague">
            <mat-option *ngFor="let league of Leagues" value="{{league.value}}" (click)="calcPrice()">
              {{league.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <h4 class="text-center">Number of Games</h4>
      <h1 class="number-value" color="primary">{{currAmount}}</h1>
      <placement-matches-slider (changeAmount)="getAmount($event)"  [min]="min" [max]="max" [step]="step" [value]="value"></placement-matches-slider>

    </div>
    <div class="col">
      <h1>Price: {{currPrice}}$
      </h1>
      <button mat-button (click)="calcPlacementsPrice()">Click me!</button>
    </div>
  </div>
</div>